= dropdown(variation: :dropleft) do
  - permitted_resource_actions(resource, actions).each do |label, opts|
    = dropdown_link_to(label, (effective_resource.action_path(opts[:action], resource) || '#'), opts.except(:action, :class))

  = instance_exec(resource, &format_block) if local_assigns[:format_block]
  = yield(resource) if block_given?
