- permitted_resource_actions(resource, actions, effective_resource).each do |label, opts|
  = glyphicon_to(opts[:action], (effective_resource.action_path(opts[:action], resource) || '#'), opts.except(:action, :class))

= yield if block_given?
