- permitted_resource_actions(resource, actions, effective_resource).each do |label, opts|
  = link_to(label, (effective_resource.action_path(opts[:action], resource) || '#'), opts.except(:action))

= yield if block_given?
