- if actions.index(:edit)
  - if EffectiveResources.authorized?(controller, :edit, resource)
    = edit_icon_to effective_resource.action_path(:edit, resource)

- if actions.index(:show)
  - if EffectiveResources.authorized?(controller, :show, resource)
    = show_icon_to effective_resource.action_path(:show, resource)

- if actions.index(:destroy)
  - if EffectiveResources.authorized?(controller, :destroy, resource)
    = destroy_icon_to effective_resource.action_path(:destroy, resource), data: { method: :delete, confirm: "Really delete #{resource}?" }
