- permitted_resource_actions(resource, actions).each do |label, opts|
  - action = opts.delete(:action)
  = link_to(label, (effective_resource.action_path(action, resource) || '#'), opts)

- if local_assigns[:format_block] && local_assigns[:datatable]
  = instance_exec(resource, datatable, &format_block)

= yield(resource) if block_given?
