- permitted_resource_actions(resource, actions).each do |label, opts|
  - action = opts.delete(:action)
  = link_to(label, (effective_resource.action_path(action, resource) || '#'), opts)

= instance_exec(resource, &format_block) if local_assigns[:format_block]
= yield if block_given?
