- permitted_resource_actions(resource, actions).each do |label, opts|
  = link_to(label, (effective_resource.action_path(opts[:action], resource) || '#'), opts.except(:action))

= instance_exec(resource, &format_block) if local_assigns[:format_block]
= yield if block_given?
