- resource = (@_effective_resource || Effective::Resource.new(controller_path))
- @resource = instance_variable_get('@' + resource.name) if resource.name

- if @resource
  .row
    .col-8
      %h1= @page_title
    .col-4.text-right
      = render_resource_actions(resource, @resource, edit: false)

  = render_resource_form(resource)
